@model ErrorViewModel
@{
    ViewData["Title"] = @Model.Titulo != null ? @Model.Titulo : "Erro =(";
}
@if (Model.StatusCode != 0)
{
    <p>
        <strong>Código:</strong> <code>@Model.StatusCode</code>
        <div>
            <code>@Model.Mensagem</code>
        </div>
    </p>
}
