@using App.Extensions
@{
    ViewData["Title"] = "Página secreta";
}

<h3>Você não viu nada!</h3>
@{
    if (this.IfClaim("Home", "PodeLer"))
    {
        <h4>shiiiiiiiiu</h4>
    }
}

<div>
    @Html.ActionLink("Go home","SecretExcluir", "Home").IfClaimShow(Context,"Home", "PodeLer")
</div>

<div class="text-center">
    <button class="btn @Html.Raw(this.IfClaimShow("Home","PodeExcluir"))">Excluir</button>
</div>